<ul id="marker-types" class="hide">
  <li>
    <a href="javascript:;" data-name="Conflict">Conflict</a>
  </li>
  <li>
    <a href="javascript:;" data-name="Depredation">Depredation</a>
  </li>
  <li>
    <a href="javascript:;" data-name="Meeting Point">Meeting Point</a>
  </li>
  <li>
    <a href="javascript:;" data-name="Police">Police</a>
  </li>
  <li>
    <a href="javascript:;" data-name="Cancel" style="color:red;">Cancel</a>
  </li>
</ul>
<a id="add-marker" href="javascript:;">
  <%= image_tag "v-for-vinegar-bottle.png", {class: 'menu-image'} %>
</a>
<div id="loading" class="loading">Loading Map...</div>
<div id="map-canvas"/>