<ul id="marker-types" class="hide">
  <li>
    <a href="javascript:;" data-name="Protest">Protest</a>
  </li>
  <li>
    <a href="javascript:;" data-name="Police">Police</a>
  </li>
</ul>
<a id="add-marker" href="javascript:;">
  <%= image_tag "v-for-vinegar-bottle.png"%>
</a>
<div id="map-canvas"/>