/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
.map { height: 100% }

.centerMarker{
  position:absolute;
  /*url of the marker*/
  background:url("/assets/user_location.png") no-repeat;
  /*center the marker*/
  top:50%;left:50%;
  z-index:1;
  /*fix offset when needed*/
  margin-left:-30px;
  margin-top:-30px;
  /*size of the image*/
  height:60px;
  width:60px;
  cursor:pointer;
}

#add-marker img{ 
    position: absolute;
    bottom: 5px;
    left: 40%;
    z-index: 2;
    width: 25%;
    height: 25%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #d0ccbf;
}

#marker-types {
    padding: 5px;
    position: relative;
    bottom: 260px;
    z-index: 99999;
    list-style: none inside none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #d0ccbf;
}

#marker-types li{
    margin: 10px;
}

#marker-types a{
    text-decoration: none;
    font-size: 30px;
}

.hide{
    display: none;
}

.loading {
    top:50%;
    left:47%;
    z-index:1;
    position: absolute;
}
